.unavailable {
  text-decoration: line-through;
  color: #aaaaaa;
}

.roster {
  display: inline-block;
  right: 0;
  position: absolute;
  background: #ffffff;
}

@media (max-width: 900px) {
 .roster {
   width: 100%;
 }
}

@media (min-width: 901px) {
  .roster {
    width: 49%;
    box-shadow: -5px 5px 5px #aaa;
  }
}

@media (min-width: 901px) {
  .roster h2 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .roster h2 {
    display: none;
  }
}

li {
  list-style-type: none;
  width: calc(100% - 50px);
  border-bottom: 1px solid #ececec;
}

@media (min-width: 901px) {
  li {
    padding: 25px;
  }
}

@media (max-width: 900px) {
  li {
    padding: 20px 25px;
  }
}

li:first-child {
  border-top: 1px solid #ececec;
}

li:hover {
  background-color: #f1f1f1;
}

