<div class="header">
  <img class="logoImg" src="./assets/logo-img.png" />
  <img class="logoText" src="./assets/logo-text.png" />
  <!--<div class="headerText">{{ title }}</div>-->
</div>
<calendar [year]="year" [month]="month" [day]="day" (onDayChanged)="onDayChanged($event)" (onMonthChanged)="onMonthChanged($event)" (onYearChanged)="onYearChanged($event)" ></calendar>
<roster [roster]="roster" [unavailable]="unavailable" (onAvailabilityChanged)="onAvailabilityChanged($event)" (onEdit)="onEdit($event)"></roster>
<roster-edit *ngIf="showEdit" [roster]="roster" (onRosterChanged)="onRosterChanged($event)" (onHideRoster)="onHideRoster($event)"></roster-edit>

