<div class="calendar">
  <div class="monthHeader">
    <span class="monthBack" (click)="decrementMonth()">&lt;</span>
    <span class="month">{{ monthNames[month] }} {{ showYear() ? year : '' }}</span>
    <span class="monthAhead" (click)="incrementMonth()">&gt;</span>
  </div>
  <table class="calendarGrid">
    <thead>
      <tr>
        <td class="dayHeader">Sun</td>
        <td class="dayHeader">Mon</td>
        <td class="dayHeader">Tue</td>
        <td class="dayHeader">Wed</td>
        <td class="dayHeader">Thu</td>
        <td class="dayHeader">Fri</td>
        <td class="dayHeader">Sat</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of monthArray">
        <ng-container *ngFor="let currentDay of week">
          <td class="day" (click)="updateDay(currentDay)" [class.selected]="currentDay == day" [class.hidden]="currentDay == ''">
            <span>{{ currentDay > 0 ? currentDay : "" }}</span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <div class="controlBlock">
    <button (click)="goToToday()">Go To Today</button>
  </div>
</div>
