<div class="rosterEdit">
  <div class="overlay"></div>
  <div class="rosterEditContent">
    <h2>Edit Team Members</h2>
    <ul id="editList">
      <li *ngFor="let person of workingRoster; let i = index">
        <input [(ngModel)]="workingRoster[i].name" />
        <span title="Delete" (click)="delete(person)">X</span>
      </li>
    </ul>

    <div class="controlBlock">
      <button (click)="create()">Add Person</button>
      <button (click)="cancel()">Cancel</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
</div>

